/*index.css*/
@charset "UTF-8";

/**********header************/
#headerBox{
	height:60px;
	line-height:60px;
}
#logoBox{
	float:left;
	height:60px;
	line-height:60px;
}

/********** MAIN MENU STUCK ************/
/* 		js 파일에서 addClass() 사용			*/
.mainMenuFixed{position:fixed;top:0px;}
.mainMenuShadow{box-shadow: 0 3px 5px 0px gray;}